<!DOCTYPE html>
<html>
  <!-- ===========HEAD============= -->
    <%- include ('../partials/head.ejs') %>
  <!-- ============================ -->
    <body>
      <nav>
        <%- include ('../partials/nav.ejs') %>
      </nav>
      <!-- ==========HEADER========== -->
        <%- include ('../partials/header.ejs') %>
      <!-- ========================== -->
      <!-- ==========TABS========== -->
        <%- include ('../partials/tabs.ejs') %>
      <!-- ========================== -->
      <div class="container">
        <div class="elements-3">
          <div class="contact">
            <div class="ft-label">
            <h1 class="feature-home">Contact Us</h1>
            <div class="line-contact"></div>
            </div>
            <ul class="contact-list">
              <li class="contact-info title">Email: </li>
              <li class="contact-info">2low4comfort@gmail.com</li>
              <li class="contact-info title">Call/Text: <li>
              <li class="contact-info">555-TOO-LOWW</li>
              <li class="contact-info title">Address: </li>
              <li class="contact-info address">Too Low For Comfort Inc.</li>
              <li class="contact-info address">P.O. Box 1111</li>
              <li class="contact-info address">Here, FL 33333</li>
            </ul>
          </div>
          <!-- ==========SIDEBAR========== -->
            <%- include ('../partials/sidebar.ejs') %>
          <!-- ========================== -->
        </div>
      </div>
      <!-- ==========FOOTER========== -->
        <%- include ('../partials/footer.ejs') %>
      <!-- ========================== -->
    </body>
</html>
