<!DOCTYPE html>
<html>
<!-- ===========HEAD============= -->
<%- include ('../partials/head.ejs') %>
<!-- ============================ -->
    <body>
      <div class="header">
       <a href="/toolow" class="logo">TooLowForComfort</a>
       </div>
      <nav>
        <%- include ('../partials/nav.ejs') %>
      </nav>
      <div class="container">
        <div class="text-area">
        <h2 class="add">Edit Post</h2>
        <form action="/toolow/<%=post.id;%>?_method=PUT" method="POST">
          <input type="text" name="name" value="<%=post.name;%>"/><br/>
          <input type="text" name="car" value="<%=post.car;%>"/><br/>
          <input type="text" name="description" value="<%=post.description;%>"/><br/>
          <input type="text" name="img" value="<%=post.img;%>"/><br/>
          <input type="text" name="img2" value="<%=post.img2;%>"/><br/>
          <input type="text" name="img3" value="<%=post.img3;%>"/><br/>
          <input type="submit" value="Save Edit" class="submit"/>
        </form>
        </div>
      </div>
    </body>
</html>
