<!DOCTYPE html>
<html>
    <!-- ===========HEAD============= -->
    <%- include ('../partials/head.ejs') %>
    <!-- ============================ -->
    <body>
      <!-- ==========NAV========== -->
        <%- include ('../partials/nav.ejs') %>
      <!-- ========================== -->
      <!-- ==========HEADER========== -->
        <%- include ('../partials/header.ejs') %>
      <!-- ========================== -->
      <div class="container">
        <div class="elements">
        <div class="posts">
          <div class="ft-label">
          <h2 class="feature">Posts</h2>
          <div class="line"></div>
          </div>
          <% for(let key in posts) { %>
            <div class="user-post">
            <a href="/toolow/<%=posts[key].id;%>" class="img"><img src="<%=posts[key].img;%>" alt="car image" class="img"></a>
            <a href="/toolow/<%=posts[key].id;%>" class="info"><h2 class="info"><%=posts[key].name;%>'s <%=posts[key].car;%></h2></a>
            </div>
          <% } %>
        </div>
        <!-- ==========SIDEBAR========== -->
          <%- include ('../partials/sidebar.ejs') %>
        <!-- ========================== -->
        </div>
      </div>
      <!-- ==========FOOTER========== -->
        <%- include ('../partials/footer.ejs') %>
      <!-- ========================== -->
    </body>
</html>
