<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <nav>
      <a href="/toolow" class="home">Home</a><br/>
      <a href="/toolow/new" class="new-link">Add New Post</a>
    </nav>
    <body>
      <div class="container">
        <div class="posts">
          <% for(let key in posts) { %>
            <div class="user-post">
              <a href="/toolow/<%=posts[key].id;%>"><img src="<%=posts[key].img;%>" alt="car image"></a>
              <a href="/toolow/<%=posts[key].id;%>"><h2 class="info"><%=posts[key].name;%>'s <%=posts[key].car;%></h2></a>
            </div>
          <% } %>
        </div>
      </div>
    </body>
</html>
