<!DOCTYPE html>
<html>
  <!-- ===========HEAD============= -->
    <%- include ('../partials/head.ejs') %>
  <!-- ============================ -->
    <body>
      <nav>
        <%- include ('../partials/nav.ejs') %>
      </nav>
      <!-- ==========HEADER========== -->
        <%- include ('../partials/header.ejs') %>
      <!-- ========================== -->
      <!-- ==========TABS========== -->
        <%- include ('../partials/tabs.ejs') %>
      <!-- ========================== -->
      <div class="container">
        <div class="elements">
          <div class="show">
            <div class="show-title">
              <h1 class="show-name"><%=posts.name;%>'s <%=posts.car%>.</h1>
            </div>
            <p class="show-text"><%=posts.description;%></p><br/>
            <img src="<%=posts.img;%>" alt="car" class="img-show">
            <img src="<%=posts.img2;%>" alt="" class="img-show">
            <img src="<%=posts.img3;%>" alt="" class="img-show">
          <div class="btns">
            <button type="button" class="edit-btn"><a href="/toolow/<%=posts.id;%>/edit" id="edit">edit</a></button>
            <form action="/toolow/<%=posts.id%>?_method=DELETE" method="POST">
              <input type="submit" value="DELETE" class="delete"/>
            </form>
          </div>
        </div>
        <!-- ==========SIDEBAR========== -->
          <%- include ('../partials/sidebar.ejs') %>
        <!-- ========================== -->
        </div>
      </div>
      <!-- ==========FOOTER========== -->
        <%- include ('../partials/footer.ejs') %>
      <!-- ========================== -->
    </body>
</html>
