<!DOCTYPE html>
<html>
  <!-- ===========HEAD============= -->
    <%- include ('../partials/head.ejs') %>
  <!-- ============================ -->
    <body>
      <!-- ==========NAV========== -->
        <%- include ('../partials/nav.ejs') %>
      <!-- ========================== -->
      <!-- ==========HEADER========== -->
        <%- include ('../partials/header.ejs') %>
      <!-- ========================== -->
      <div class="container">
        <div class="elements">
          <div class="show">
            <div class="show-title">
              <h1 class="show-name"><%=posts.name;%>'s <%=posts.car%>.</h1>
            </div>
            <p class="show-text"><%=posts.description;%></p><br/>
            <div class="insta">
            <h4 class="show-text"><ion-icon name="logo-instagram" class="ion-icon-show"></ion-icon> <%=posts.instagram;%></h4><br/>
            </div>
            <img src="<%=posts.img;%>" alt="car" class="img-show">
            <img src="<%=posts.img2;%>" alt="" class="img-show">
            <img src="<%=posts.img3;%>" alt="" class="img-show">
          <div class="btns">
            <button type="button" class="edit-btn"><a href="/toolow/<%=posts.id;%>/edit" id="edit">edit</a></button>
            <form action="/toolow/<%=posts.id%>?_method=DELETE" method="POST">
              <input type="submit" value="DELETE" class="delete"/>
            </form>
          </div>
          <div class="comment-area-1">
            <h3 class="comment-title">Comments</h3>
            <ul class="comment-list">
              <% for(let key in comment) { %>
              <li class="comment">
                <span class="comment-text comment-name"><%=comment[key].usersname%></span>
                <span class="comment-text"><%=comment[key].comment%></span>
              </li>
              <% } %>
            </ul>
          </div>
          <div class="comment-area-2">
            <form class="comment-section" action="/toolow/<%=posts.id;%>/comment" method="POST">
              <h3 class="make-comment">Leave a Comment</h3>
              <input type="text" name="usersname" placeholder="name" class="myname"/>
              <textarea name="comment" rows="6" class="textarea" placeholder="comment"></textarea>
              <input type="submit" value="Add Comment" class="submit-3"/>
            </form>
          </div>
        </div>
        <!-- ==========SIDEBAR========== -->
          <%- include ('../partials/sidebar.ejs') %>
        <!-- ========================== -->
        </div>
      </div>
      <!-- ==========FOOTER========== -->
        <%- include ('../partials/footer.ejs') %>
      <!-- ========================== -->
    </body>
</html>
